h1 {
    color: #672e3b;
}

body {
    background-color: #F0EDE5;
}

.clickCounter {
    /* display: inline-block; */
}

.inputbox {
    background-color: grey;
    display: inline-block;
    width: 100px;
    margin: 5 px;
}

th {
    background-color: grey;
}

table {
    background-color: lightgrey;
}